{% extends "base.html" %}

{% block body_content %}
	
	<div class="container-fluid">
		<div class="row gx-2">

			{% for key, value in data.items %}

			<div class="col-12 mb-2">
				<div class="card">
					<div class="card-body">
						<h2 class="fw-bold text-center">{{key}}</h2>
						<hr/>
						{% if value.td %}
							<table class="table">
								<thead>
									<tr>
										{% for i in value.th %}
											<th>{{i}}</th>
										{% endfor %}
										<td></td>
									</tr>
								</thead>
								<tbody>
									{% for j in value.td %}
										<tr>
											{% for k in j %}
												<td>{{k}}</td>
											{% endfor %}
											<td>
												 <a href="{{value.model_name}}/{{j.0}}" class="btn btn-lg"><i class="bi bi-info-circle-fill"></i></a> 
												 <a href="{{value.model_name}}/delete/{{j.0}}" class="btn btn-lg"><i class="bi bi-trash"></i></a> 
											</td>
											
											
										</tr>
										
									{% endfor %}
								</tbody>
							</table>	
						{% else %}
							<i style="display:block;text-align:center">No hay información para mostrar...</i>
						{% endif %}

					</div>
				</div>
			
			
			</div>
			{% endfor %}
		  



		  
		</div>
	</div>

{% endblock body_content %}